/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.background {
  background-color: #0A100D;
}

.text-for-background {
  color: #F0F0F0;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.shadow:hover {
  transition: 0.2s ease-in-out;
  text-shadow: 0px 0px 15px #ffffff;
}

.shadow:not(:hover) {
  transition: 0.2s ease-in-out;
}

#navbar {
  height: 10vh;
  background-color: #0F0F0F;
}

.imgNews {
  width: 800px;
  height: 450px;
}

.bgIcons {
  background-color: hsla(0, 0%, 0%, 0.400);
}

.iconOnHover {
  display: flex;
  display: inline-block;
  text-align: center;
  width: 4rem;
  height: 4rem;
}

.iconShadow:hover {
  box-shadow: 0px 0px 30px 10px rgb(0, 0, 0)
}

.icon-shadow {
  transition: 0.2s ease-in-out;
}

.icon-shadow:hover {
  text-shadow: 0px 0px 30px;
}

.achievement-description {
  position: relative;
  top: -10px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.achievement-description:hover {
  top: 0px;
  z-index: 0;
}

.achievement-icon {
  width: '165px';
  height: '165px'
}

.back-shadow {
  transition: 0.2s ease-in-out;
}

.back-shadow:hover {
  box-shadow: 0px 0px 20px rgb(231 229 228);
}

.search-bar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.search-bar.open {
  max-height: 50px;
  /* o la dimensione della tua barra di ricerca */
}

.game-item {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.game-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.focused-border {
  border-color: #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

input[type="text"] {
  border: 1px solid #ccc;
  /* Colore del bordo normale */
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
.focused-border {
  border-color: #4A90E2;
  /* Colore del bordo al focus */
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
  outline: none;
  /* Rimuove il bordo predefinito del browser */
}